.navbar {
  padding: 10px 15px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.265);
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}
.navbar-heading {
  display: flex;
  justify-content:flex-end;
}
.navbar-sh {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 8px;
  margin-left: 200px;
}
.searchForm {
  display: flex;
  justify-content: space-between;
}
.navbar h4,
.explore,
.about,
.contact {
  color: black;
}

.nav-search {
  display: flex;
  align-items: center;
  position: relative;
  width: 320px;
  margin-left: 100px;
}

#searchbox {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  /* border-radius: 70px; */
  width: 300px;
}

.search-Button {
  position: absolute;
  right: 0;
  padding: 0px;
  margin-right: 25px;
  margin-top: 8px;
  /* background: #fff; */
  border: none;
  cursor: pointer;
  background-color: transparent !important;
  color: #ccc !important;
}

.clear-search {
  position: absolute;
  right: 20px; 
  top: 12px;
  background: white;
  border: none;
  cursor: pointer;
  font-size: 18px; /* Adjust size to match search input */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 1000;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.auth-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-button {
  padding: 8px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #0056b3;
}

.auth-button:focus {
  outline: none;
}

.cart-link {
  padding-right: 22px;
  padding-top: 7px;
}

.cart-link svg {
  height: 27px;
  width: 27px;
}
.cart-count {
  position: absolute;
  top: 3px;
  right: 100px;
  background-color: #9eadcf;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}
