.team-top{
  height: 13vh;
}
  .member-heading {
    max-height: 70vh;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: Work Sans;
    position: relative; 
    text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5); 
  
  }

  
  .member-heading::before,
  .member-heading::after {
    content: ''; 
    position: absolute; 
    top: 50%; 
    width: 70%; 
    height: 1px; 
    background-color:white; 
  }
  
  .member-heading::before {
    left: 0; 
    transform: translate(-50%, -50%); }
  
  .member-heading::after {
    right: 0;
    transform: translate(50%, -50%); 
  }

  .team-intro{
    max-height: 70vh;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: Merriweather;
    text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5);
  }
  
  
  .member-pic{
    width: 150px;
    height: 200px;
    border-radius: 100%;
    padding: 15px 2px;
   }
  
  .members{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
  }
  
  .member-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Merriweather;
    border: 1px solid;
    width: 20%;
    height: 19rem;
  
    h2{
      font-weight: 400;
      font-size: 20px;
    }
  
    h3{
      font-weight: 350;
      font-size: 18px;
    }
  }