/* about section */
#about-section{
    background-color: white;
    color:#1d1d2b;
  }
  
  .about-us{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-self:center ;
    text-align: center;
  
    h2{
      font-family: Work Sans;
      font-size: 30px;
      font-weight: 500;
    }
  }
  
  .about-content {
   align-self: center; 
   font-size: 20px;
   text-align: justify;
   padding: 20px;
   font-family: Merriweather;
    
   ul{
    list-style-type: none;
   }
  }
  
  .about-content li:before {
    content: "★"; /* Unicode character for a solid star */
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between marker and text */
  }
  
  
  .member-heading {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    font-family: Work Sans;
    position: relative; /* Position the lines relative to the heading */
    text-shadow: 2px 2px 4px rgba(254, 254, 254, 0.5); /* Add text shadow */
  
  }
  
  .member-heading::before,
  .member-heading::after {
    content: ''; /* Empty content */
    position: absolute; /* Position the lines */
    top: 50%; /* Position the lines in the middle vertically */
    width: 70%; /* Adjust the width of the lines */
    height: 1px; /* Adjust the thickness of the lines */
    background-color:white; /* Color of the lines */
  }
  
  .member-heading::before {
    left: 0; /* Position the line on the left */
    transform: translate(-50%, -50%); /* Move the line to the left */
  }
  
  .member-heading::after {
    right: 0; /* Position the line on the right */
    transform: translate(50%, -50%); /* Move the line to the right */
  }
  
  
  .member-pic{
    width: 150px;
    height: 150px;
    border-radius: 100%;
   }
  
  .members{
    display: flex;
    justify-content: space-evenly;
  }
  
  .member-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Merriweather;
  
    h2{
      font-weight: 400;
      font-size: 20px;
    }
  
    h3{
      font-weight: 350;
      font-size: 18px;
    }
  }
  
  
  
  
  