/* Existing styles */

.userE-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: Nunito;
  }
  
  .userE-heading {
    padding-top: 70px;
    font-family: Montserrat;
    font-size: 25px;
  }
  
  .userE-flex {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
  }

  .userE-flex-pfp{
    margin-bottom: 18px;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
  }
  
  .userE-flex p {
    margin: 0;
    font-size: 16px;
    width: 50%; /* Adjust width as needed */
    text-align: left; /* Aligns text to the right */
    padding-right: 10px; /* Space between label and input */
  }
  
  .userE-input{ /* Apply the same styles to both input and select */
    width: 70%; /* Adjust width to balance with label */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Nunito; /* Ensure font consistency */
    font-size: 16px; /* Match font size of input */
  }

  .userE-prod-ip{
    width: 70%; 
    padding: 6px;
    border-radius: 4px;
    border: none ;
    box-sizing: border-box;
    font-family: Nunito; /* Ensure font consistency */
    font-size: 16px; 
  }
  
  .userE-btn {
    background-color:  #1d1d2b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: Montserrat;
  }
  
.userE-btn:hover {
    background-color: #494968;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }


  .userE-img {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
    gap: 3.3rem !important;
    margin-left: 7.09rem;
  }
  


 
  