.modal2-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal2 {
    background:white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 3px groove #dfe9f5;
    /* box-shadow: 0 0 10px rgba(85, 151, 216, 0.724); */
  }
  .modal2 h2{
      font-weight: 500;
      color: rgba(0, 0, 0, 0.7);
  }
  .modal2 p{
      color: rgba(0, 0, 0, 0.7); 
  }
  .modal2 button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.635);
    margin: 20px;
    padding: 2px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    background-color:#dfe9f5;
    border-radius: 5px;
    border: 2px solid rgba(179, 192, 205, 0.55);
  }
  .modal2 button:hover{
      background-color:#dfe9f59e;
  }