.Addprod-container {
    display: flex;
    overflow-y: auto; /* Enable vertical scrolling */
    width: 99.99%;
    background-color:  #9eadcf83;

  }
  
  .Addprod-section {
    width: 800px;
    height: 100%;
    background-color:  #9eadcf83;
    padding: 30px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Addprod-heading {
    text-align: center;
    font-size: 30px;
    font-family: Work Sans;
  }
  
  .Addprod-form {
    display: flex;
    flex-direction: column;
    font-family: merriweather;
    gap: 20px;
  }
  
  .Addprod-form form div {
    margin: 10px 10px;
    gap: 20px;
  }
  
  .Addprod-form form div p {
    margin: 0 0 5px 0;
  }

  .img-head{
    margin: 0px !important;
  }
  .img-div{
    margin: 10px 10px!important;
  }
  
  .Addprod-form form input,
  .Addprod-form form select 
  .Addprod-form form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input::placeholder,
textarea::placeholder {
    font-family: work sans;
}

.pic-container{
  display: inline;
  
}

.pic-upload{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px !important;
    background-color: white;
    justify-content: space-between;
    border-radius: 5px;
}

.pic-upload input{
  width: 600px !important;
  background-color: white;
  opacity: 0;
  padding: 0 !important;
}

.alt-images-container, .main-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: 10% !important;
  margin: 0px 0px 2px 0px !important;
}

.alt-image, .main-img {
  position: relative;
  display: inline-block;
  margin: 5px;
}


.main-img img,
.alt-image img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    padding: 0px !important;
}


.main-img .sellprod-btn, .alt-image .sellprod-btn {
  padding: 0px;
  width: auto;
  height: 20px !important;
  position: absolute;
  top: -10px;
  right: -10px;
  color: black;
}

.main-image-container .sellprod-btn:hover,
.alt-images-container .sellprod-btn:hover,
.pic-upload label:hover {
  background-color:#dfe9f5;
}


#input-file , #alt-input-file {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  top: -100px !important;
  }

.add-photo-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #88bcdd;
  justify-content: end;
  align-content: end;
}

.add-photo-label:hover{
  background-color: #3c3c5e !important;
}

.pic-upload label {
  font-family: Work Sans;
  padding: 5px;
  background-color: #1d1d2b;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px !important;
  border-top: 3px solid #444469f6;
  border-left: 3px solid #444469f6;
  margin-left: 2px;
}

.input-container{
  margin: 2px !important;
}




  
  
  .prod-price-cat {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    gap: 30px;
  }
  
  .prod-price-cat div {
    flex: 1;
  }
  
  .prod-price-cat div:last-child {
    margin-right: 0;
  }
  
  .prod-flex , .prod-category{
    margin: 0px !important;
    padding: 0px !important;
  }
  .prod-category select {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  .prod-des textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Addprod-form button {
    width: 700px;
    margin: 0px 10px;
    font-family: Work Sans;
    padding: 5px;
    background-color: #1d1d2b;
    color: #ffffff;   
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Addprod-form button:hover {
    background-color: #323252f6;
    color: #ffffff;   
  }
  

  @media (max-width: 1200px) {
    .Addprod-section {
      max-width: 600px;
    }
  }
  
  @media (max-width: 900px) {
    .Addprod-container {
      flex-direction: column-reverse;
    }
  
    .Addprod-section {
      max-width: 500px;
      margin: 10px;
    }
  
    .prod-price-cat {
      flex-direction: column;
    }
  }
  
  @media (max-width: 600px) {
    .Addprod-section {
      max-width: 400px;
      overflow-x: hidden;
    }
  
    .Addprod-form form div {
      margin: 5px;
    }

    .Addprod-form form input{
      width: 350px;
    }
    
    .prod-category select ,   .Addprod-form form textarea {
      width: 350px;
    }

  
    .pic-upload input {
      width: 270px !important;
    }
  
    .pic-upload label {
      width: 70px !important;
      font-size: 10px !important;
      padding: 0px !important;
    }
  
    .prod-price-cat {
      flex-direction: column;
    }

    .Addprod-form button {
      width: 350px;}
  }
  