# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Build output
dist/
build/

# IDE and editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Operating System Files
.DS_Store
Thumbs.db
